{% extends 'base.html' %}

{% block main %}
<form action="{% url 'signin' %}" method="POST">
    <fieldset>
        <legend>Sign In</legend>
        <div class="form-group border p-4 my-4">
            <div class="form-group">
                <label for="email">Email</label><br>
                <input type="emial" name="email" placeholder="joe@exampl.com" required id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter your password" required id="password" class="form-control">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </fieldset>
</form>
{% endblock main %}